@font-face {
  font-family: 'Oswald';
  src: local('Oswald Heavy'), local('Oswald-Heavy'), url('../../../font/Oswaldheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.header-cell {
  background: var(--text-color);
}

:root {
  --main-font-family: 'Oswald', serif;
  --bg-color: #902628;
  --text-color: #f2c061;
  --h1-color: white;
  --pictures-position: absolute;
}

.cell {
  font-family: var(--main-font-family);
  border: solid black 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.cell-color {
  vertical-align: center;
  background: antiquewhite;
}

.icon {
  width: 32px;
  height: 32px;
  vertical-align: center;
}

